.entry-content {
    /* For development */
    width: 100% !important;
}

button.simple-reservation.primary {
    background: #cc3d34 !important;
    margin-right: 0 !important;
    margin-left: auto !important;
    display: block !important;
}

.simple-reservation .tabs {
    margin: 20px 0px 22px;
    visibility: visible;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
    box-sizing: inherit;
    float: left;
    clear: left;
    width: 100%;
}

.simple-reservation .tabs li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}

.simple-reservation .tabs li a {
    color: #337ab7;
    text-decoration: none !important;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    box-shadow: none;
    cursor: pointer;
}

.simple-reservation .tabs li a:hover {
    background: #f3f3f3;
}

.simple-reservation .tabs li.active a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}

.simple-reservation .tabs-content {
    display: none;
}

.simple-reservation .tabs-content.active {
    display: block;
}

.simple-reservation .week .header {
    background: rgb(221, 221, 221);
    padding: 5px 20px;
    text-align: center;
}

.simple-reservation .week .body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.simple-reservation .week .body .time-sidebar,
.simple-reservation .week .body .day-topbar,
.simple-reservation .week .body .period {
    min-height: 75px;
    max-width: 1000px;
    border: 1px solid #eee;
    display: grid;
    place-content: center;
}

.simple-reservation .week .body .time-sidebar p,
.simple-reservation .week .body .day-topbar p,
.simple-reservation .week .body .period p {
    margin: 0;
    text-align: center;
}

.simple-reservation .week .body .period.free .add-symbol {
    display: none;
}

.simple-reservation .week .body .period.free:hover {
    background-color: rgb(113, 211, 113);
    cursor: pointer;
}

.simple-reservation .week .period.free:hover .add-symbol {
    display: inline;
    color: white;
    font-size: 3em;
}

.simple-reservation a.thickbox,
.simple-reservation a.thickbox:hover {
    box-shadow: none;
}

.simple-reservation .week .period.reserved .delete-symbol {
    display: none;
    color: white;
}

.simple-reservation .week .period.reserved.deletable:hover {
    background-color: rgb(228, 67, 67);
    cursor: pointer;
}

.simple-reservation .week .period.reserved.deletable:hover .content {
    display: none;
}

.simple-reservation .week .period.reserved.deletable:hover .delete-symbol {
    display: inline-block;
}

.simple-reservation .remove-style {
    position: relative;
}

.simple-reservation .remove-style button {
    background: none;
    color: black;
    display: block;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}