.entry-content {
    /* For development */
    width: 100% !important;
}

button.simple-reservation.primary {
    background: #cc3d34 !important;
    margin-right: 0 !important;
    margin-left: auto !important;
    display: block !important;
}

.simple-reservation .week .header {
    background: rgb(221, 221, 221);
    padding: 5px 20px;
    text-align: center;
}

.simple-reservation .week .body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.simple-reservation .week .body .time-sidebar,
.simple-reservation .week .body .day-topbar,
.simple-reservation .week .body .period {
    min-height: 75px;
    max-width: 1000px;
    border: 1px solid #eee;
    display: grid;
    place-content: center;
}

.simple-reservation .week .body .time-sidebar p,
.simple-reservation .week .body .day-topbar p,
.simple-reservation .week .body .period p {
    margin: 0;
    text-align: center;
}

.simple-reservation .week .body .period.free .add-symbol {
    display: none;
}

.simple-reservation .week .body .period.free:hover {
    background-color: rgb(113, 211, 113);
    cursor: pointer;
}

.simple-reservation .week .period.free:hover .add-symbol {
    display: inline;
    color: white;
    font-size: 3em;
}

.simple-reservation a.thickbox,
.simple-reservation a.thickbox:hover {
    box-shadow: none;
}

.simple-reservation .week .period.reserved .delete-symbol {
    display: none;
    color: white;
}

.simple-reservation .week .period.reserved.deletable:hover {
    background-color: rgb(228, 67, 67);
    cursor: pointer;
}

.simple-reservation .week .period.reserved.deletable:hover .content {
    display: none;
}

.simple-reservation .week .period.reserved.deletable:hover .delete-symbol {
    display: inline-block;
}

.simple-reservation .remove-style {
    position: relative;
}

.simple-reservation .remove-style button {
    background: none;
    color: black;
    display: block;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}