:root {
    --simple-reservation-blue: #337ab7;
}

.entry-content {
    /* For development */
    width: 100% !important;
}

button.simple-reservation.primary {
    background: #cc3d34 !important;
    margin-right: 0 !important;
    margin-left: auto !important;
    display: block !important;
    color: white;
    padding: 15px 30px;
}

.simple-reservation .notice {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
    padding: 0 10px;
}

.simple-reservation .notice p {
    margin: 10px;
    color: white;
}

.simple-reservation .notice .dashicons {
    cursor: pointer;
    color: white;
}

.simple-reservation .notice.success {
    background-color: #51f766;
}

.simple-reservation .notice.error {
    background-color: #f75059;
}

.simple-reservation .tabs {
    margin: 20px 0px 22px;
    visibility: visible;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
    box-sizing: inherit;
    float: left;
    clear: left;
    width: 100%;
}

.simple-reservation .tabs li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}

.simple-reservation .tabs li a {
    color: var(--simple-reservation-blue);
    text-decoration: none !important;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    box-shadow: none;
    cursor: pointer;
}

.simple-reservation .tabs li a:hover {
    background: #f3f3f3;
}

.simple-reservation .tabs li.active a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}

.simple-reservation .tabs-content {
    display: none;
}

.simple-reservation .tabs-content.active {
    display: block;
}

.simple-reservation .week .header {
    background: rgb(221, 221, 221);
    padding: 5px 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center;
}

.simple-reservation .week .header p {
    margin: 0;
}

.simple-reservation .week .header .dashicons {
    cursor: pointer;
}

.simple-reservation .week .header .dashicons:hover {
    color: gray;
}

.simple-reservation .week .week-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.simple-reservation .week .week-grid .time-sidebar,
.simple-reservation .week .week-grid .day-topbar,
.simple-reservation .week .week-grid .period {
    min-height: 75px;
    max-width: 1000px;
    border: 1px solid #eee;
    display: grid;
    place-content: center;
    position: relative;
}

.simple-reservation .week .week-grid .day-topbar.is-today p {
    color: var(--simple-reservation-blue);
}

.simple-reservation .week .week-grid .time-sidebar p,
.simple-reservation .week .week-grid .day-topbar p,
.simple-reservation .week .week-grid .period p {
    margin: 0;
    text-align: center;
}

.simple-reservation .week .week-grid .period.free .add-symbol {
    display: none;
}

.simple-reservation .week .week-grid .period.free:hover {
    background-color: rgb(113, 211, 113);
    cursor: pointer;
}

.simple-reservation .week .period.free:hover .add-symbol {
    display: inline;
    color: white;
    font-size: 3em;
}

.simple-reservation a.thickbox,
.simple-reservation a.thickbox:hover {
    box-shadow: none;
    text-decoration: none;
}

.simple-reservation .week .period .content {
    overflow: hidden;
}

.simple-reservation .week .period .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.simple-reservation .week .period.reserved button {
    cursor: auto;
}

.simple-reservation .week .period.reserved.deletable button {
    cursor: pointer;
}

.simple-reservation .week .period.reserved .delete-symbol {
    display: none;
    color: white;
}

.simple-reservation .week .period.reserved .repeat-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
}

.simple-reservation .week .period.reserved.deletable:hover {
    background-color: rgb(228, 67, 67);
    cursor: pointer;
}


.simple-reservation .week .period.reserved.deletable:hover .content {
    display: none;
}

.simple-reservation .week .period.reserved.deletable:hover .delete-symbol {
    display: inline-block;
}

.simple-reservation .remove-style {
    position: relative;
}

.simple-reservation .remove-style button {
    background: none;
    color: black;
    display: block;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.simple-reservation-modal h4 {
    font-size: 23px;
    font-weight: 800;
    margin: 10px 0;
}

.simple-reservation-modal table {
    border-collapse: collapse;
}

.simple-reservation-modal .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.simple-reservation-modal .row:nth-of-type(5) {
    border-bottom: none;
}

.simple-reservation-modal .row p,
.simple-reservation-modal .row input,
.simple-reservation-modal .row select {
    font-size: 16px;
}

.simple-reservation-modal .row p {
    margin: 0;
    align-self: center;
    font-weight: 800;
}

.simple-reservation-modal .row input,
.simple-reservation-modal .row select {
    display: block;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background: white;
}

.simple-reservation-modal .row label {
    font-weight: normal;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
}

.simple-reservation-modal .row input[type="checkbox"] {
    display: inline;
}

.simple-reservation-modal .row input:focus {
    color: #222;
    border-color: #333;
}