:root {
    --simple-reservation-blue: #337ab7;
}

.entry-content {
    /* For development */
    width: 100% !important;
}

#simple-reservation-app {
    margin: 10px 0;
}

.simple-reservation p {
    margin: 0 !important;
}

button.simple-reservation.primary {
    background: #cc3d34 !important;
    margin-right: 0 !important;
    margin-left: auto !important;
    display: block !important;
    color: white;
    padding: 15px 30px;
}

.simple-reservation .room-description {
    margin-bottom: 15px !important;
}

.simple-reservation .remove-style {
    position: relative;
}

.simple-reservation .remove-style button {
    background: none;
    color: black;
    display: block;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}